{{ $photo := .photo }}
{{ $site := .site }}
{{ $isInSeriesPage := .isInSeriesPage | default false }}

{{ $altText := $photo.alt }}
{{ $src := $photo.src }}
{{ $srcUrl := partial "img-url.html" (dict "src" $src "site" $site) }}
{{ $place := $photo.place }}
{{ $time := $photo.time }}
{{ $focus := $photo.focus }}
{{ $aperture := $photo.aperture }}
{{ $shutter := $photo.shutter }}
{{ $iso := $photo.iso }}
{{ $description := $photo.description }}
{{ $categoryKey := $photo.category }}
{{ $seriesName := $photo.series }}
{{ $isCover := $photo.is_cover }}

{{/* 计算该组照的真实总照片数（包含内页） */}}
{{ $seriesCount := 0 }}
{{ if and $seriesName $isCover }}
    {{ $seriesCount = len (where site.Data.photo.photo "series" $seriesName) }}
{{ end }}

{{ $categoryPage := site.GetPage $categoryKey }}
{{ $categoryUrl := $categoryPage.Permalink | default "" }}
{{ $categoryTitle := $categoryPage.Title | default "" }}

{{/* 反查组照的英文 URL (仅在非组照详情页时需要) */}}
{{ $seriesUrl := "" }}
{{ if and $seriesName $isCover (not $isInSeriesPage) }}
    {{ $seriesSection := site.GetPage "/series" }}
    {{ $seriesPage := false }}
    {{ if $seriesSection }}
        {{ range $seriesSection.Pages }}
            {{ if eq .Title $seriesName }}
                {{ $seriesPage = . }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if $seriesPage }}
        {{ $seriesUrl = $seriesPage.Permalink }}
    {{ else }}
        {{ $seriesUrl = printf "/series/%s/" ($seriesName | urlize) | relURL }}
    {{ end }}
{{ end }}

{{/* 【核心逻辑 1】决定显示的标题：如果在普通页面且是组照封面，显示组照名；否则显示照片自己的 alt */}}
{{ $displayTitle := $altText }}
{{ if and $seriesName $isCover (not $isInSeriesPage) }}
    {{ $displayTitle = $seriesName }}
{{ end }}

<div class="masonry-item">
    <div class="photo-card" {{ with $description }}data-description="{{ . }}"{{ end }}>
        
        {{/* 【核心逻辑 2】决定封面渲染方式：如果在普通页面且是组照封面，渲染为 a 标签带图标；否则渲染为普通 div 支持 Lightbox 放大 */}}
        {{ if and $seriesName $isCover (not $isInSeriesPage) }}
            <a href="{{ $seriesUrl }}" class="photo-wrapper series-link" title='{{ i18n "view_series" (dict "Series" $seriesName) }}'>
                <img src="{{ $srcUrl }}" alt="{{ $altText }}" loading="lazy" class="photo-img">
                <div class="series-badge">
                    <span class="icon">{{ $site.Data.svg.layers | safeHTML }}</span>
                    <span class="count">{{ $seriesCount }}</span>
                </div>
            </a>
        {{ else }}
            <div class="photo-wrapper">
                <img src="{{ $srcUrl }}" alt="{{ $altText }}" loading="lazy" class="photo-img">
            </div>
        {{ end }}

        <div class="photo-meta">
            <h3 class="photo-title">{{ $displayTitle }}</h3>
            <div class="photo-details">
                <div class="meta-row-between">
                    <div class="meta-item">
                        {{ with $place }}
                            <span class="icon">{{ $site.Data.svg.location | safeHTML }}</span>
                            <span>{{ . }}</span>
                        {{ end }}
                    </div>
                    {{ if $categoryUrl }}
                        <a href="{{ $categoryUrl }}" class="photo-category-tag" title='{{ i18n "view_category" (dict "Category" $categoryTitle) }}'>
                            <span class="icon">{{ $site.Data.svg.tag | safeHTML }}</span>
                            <span>{{ $categoryTitle }}</span>
                        </a>
                    {{ end }}
                </div>
                {{ with $time }}
                <div class="meta-item">
                    <span class="icon">{{ $site.Data.svg.calendar | safeHTML }}</span>
                    {{ $year := . | time.Format "2006" }}
                    {{ $month := . | time.Format "01" }}
                    {{ $day := . | time.Format "02" }}
                    <span>{{ i18n "date_format_full" (dict "Year" $year "Month" $month "Day" $day) }}</span>
                </div>
                {{ end }}
                {{ $exif := slice }}
                {{ with $focus }}{{ $exif = $exif | append (printf "%smm" .) }}{{ end }}
                {{ with $aperture }}{{ $exif = $exif | append (printf "f/%s" .) }}{{ end }}
                {{ with $shutter }}{{ $exif = $exif | append (printf "%ss" .) }}{{ end }}
                {{ with $iso }}{{ $exif = $exif | append (printf "ISO%s" .) }}{{ end }}
                {{ if gt (len $exif) 0 }}
                <div class="meta-item">
                    <span class="icon">{{ $site.Data.svg.settings | safeHTML }}</span>
                    <span>{{ delimit $exif " · " }}</span>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
